
@model  List<CRUDExample.Models.ProductsModel>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>
<h3>新增商品</h3>
@using (@Html.BeginForm("InsertProduct", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <p>項目</p>

    <input type="text" name="ProductName" />
    <p>價格</p>
    <input type="number" name="UnitPrice" />
    <input type="submit" value="上架" class="btn btn-default" />

}
<h3>商品瀏覽</h3>
<table border="1">
    <tr><th>產品</th><th>調整價格</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>


            @using (@Html.BeginForm("EditPrice", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                <td>
                    <input type="hidden" name="ProductID" value=@item.ProductID />
                    <input type="number" name="UnitPrice" value="@item.UnitPrice" />
                    <input type="submit" value="調整" class="btn btn-default" />
                </td>
            }
        </tr>
    }
</table>
